* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid blue;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cone {
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: cone-animation 10s infinite linear; 
}

@keyframes cone-animation {
    from{
        right: -70px;
    }

    to {
        right: 100%;
    }
}